{% extends 'catalog/base.html' %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <h2 class="display-4">Добро пожаловать в Cosmus shop!</h2>
            <p class="lead">Мы предлагаем стильную и качественную одежду для всех возрастов и вкусов.</p>
            <p>У нас вы найдете широкий ассортимент товаров, от повседневной одежды до особых коллекций.</p>
            <p>Выбирайте Cosmus shop - выбирайте качество и стиль!</p>
            <a href="{% url 'catalog:products' %}" class="btn btn-primary btn-lg mt-3">Перейти в каталог</a>
        </div>
    </div>
</div>
{% endblock %}