{% extends 'catalog/base.html' %}

{% block content %}
<div class="container mb-5">
    <a class="btn btn-outline-primary" href="{% url 'catalog:create_product' %}">Добавить продукт</a>
</div>
<div class="container">
    <div class="row">
        {% for object in object_list %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object|title}}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ object.price }} <small class="text-muted"> руб. </small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>{{ object.description|truncatechars:100 }}</li>
                            <p>Автор: {{ object.user }}</p>
                        {% if object.active_versions %}
                            <li>Активная версия: {{ object.active_versions.0.version_name }}</li>
                        {% endif %}
                    </ul>
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'catalog:product_detail' object.pk %}" class="btn btn-sm btn-outline-primary">Подробнее</a>
                        <a href="{% url 'catalog:update_product' object.pk %}" class="btn btn-sm btn-outline-secondary">Изменить</a>
                        <a href="{% url 'catalog:delete_product' object.pk %}" class="btn btn-sm btn-outline-danger">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}